@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #000000;
  --foreground: #ffffff;
} */

.first-paragraph::first-line {
  float: left;
  font-size: 3rem;
  line-height: 1;
  padding-right: 0.2em;
  font-weight: bold;
  font-family: Georgia, serif;
  color: #8b5e3c;
}


/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
